<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<section>
    <h2>Welcome <%= locals.user.account_firstname %></h2>
    <br>
    <p>You are logged in.</p>
    <a href="#">Edit Account Information</a>
</section>