<%# <!-- heading --> %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<%# login display %>

    <form id="loginForm" action="/account/login" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="account_email" name="account_email" required
        value="<%= locals.account_email %>"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
        <br><br>

        <label for="password">Password:</label>
        <input type="password" id="account_password" name="account_password" required
            pattern="(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{12,}" 
            title="Must be at least 12 characters, include 1 uppercase letter, 1 number, and 1 special character">
        <br><br>

        <button type="submit">Login</button>
        <a href="/account/register">Don't have an account? Register here</a>
    </form>

    

