<header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
      <% if (locals.user) { %> 
          <a href="/account/" title="Manage Account">
            Welcome <%= locals.user.account_firstname %>
          </a>
          <a href="/account/logout" title="Click to log out">Logout</a>
      <% } else { %>  
          <a href="/account/login" title="Click to log in">My Account</a>
      <% } %>
    </div>
</header>