<h1>Welcome to CSE Motors</h1>
<aside id="banner">
    <h2>DMC Delorean</h2>
    <ul>
        <li>3 Cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy dice!</li>
    </ul>
    <button id="own">Own Today</button>
</aside>
<div class="hero">
    <img src="public/images/vehicles/delorean.jpg" alt="Front quartter view of a DMC Delorean in grey">
</div>
<section>
    <h3>DMC Delorean</h3>
    <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
    </ul>
</section>
<section>
    <h3>Delorean Upgrades</h3>
    <div class="card">
        <img src="" alt="flux capacitor">
        <a href="#">Flux Capacitor</a>
    </div>
    <div class="card">
        <img src="" alt="Flame decals">
        <a href="#">Fame Decals</a>
    </div>
    <div class="card">
        <img src="" alt="bumper stickers">
        <a href="#">Bumbper Stickers</a>
    </div>
    <div class="card">
        <img src="" alt="hub caps">
        <a href="#">Hub Caps</a>
    </div>
</section>

