<%# <!-- heading --> %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# messages() %>

<%# inventory item detailed display %>

<%- details %>

<a href="/inv/purchase/<%= vehicle.inv_id %>" id="purchaseCar">Buy This Car</a>
